.list-box {
    background: #0F0F0F;
    top: 0;
    bottom: 0;
    height: 100%;
    left: 0;
    width: 250px;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    overflow: auto;
}

/* .list-box:hover {
    width: 250px;
    overflow: visible;
} */

.list {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    color: white;
    list-style-position: inside;
}

.item {
    display: flex;
    flex-direction: column;
}

.item:first-child {
    margin-top: 0.5rem;
}

.icon {
    margin-right: 1rem;
}

.item-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem;
    color: white;
    text-decoration: none;
}

.nav-text {
    position: relative;
    display: table-cell;
    vertical-align: middle;
    width: 190px;
}

.item-link:hover {
    color: #fff;
    background-color: #272727;
    border-radius: 10px;
}

/* .item-link:hover + .sublist {
    height: 300px;
  } */


.sublist {
    padding: 0px;
    border-radius: 10px;
/*     height: 0px;
    overflow: hidden;
    transition: height 1s; */
}

.subitem {
    align-items: center;
}

.subitem-link {
    margin-left: 4rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.5rem;
    color: white;
    text-decoration: none;

}

.subitem:hover {
    color: #fff;
    background-color: #272727;
    border-radius: 10px;
}